<mat-table matSort [dataSource]="dataSourceSignal()">
    @for (column of columnsSignal(); track column.columnName) {
        <ng-container [matColumnDef]=column.columnName>
            @if (column.isSortable) {
                <mat-header-cell [attr.id]=column.columnName *matHeaderCellDef mat-sort-header>
                    {{column.displayName | translate}}
                </mat-header-cell>
            } @else {
                <mat-header-cell [attr.id]=column.columnName *matHeaderCellDef>
                    {{column.displayName | translate}}
                </mat-header-cell>
            }
            <mat-cell *matCellDef="let row">
                {{column.cell(row) | translate}}
            </mat-cell>
        </ng-container>
    }
    <mat-header-row *matHeaderRowDef="columnNamesSignal(); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row;  columns: columnNamesSignal()"></mat-row>
</mat-table>
<mat-paginator
        [pageSizeOptions]="pageSizesSignal()"
        [length]="resultsLengthSignal()"
        [pageSize]="pageSizeSignal()"
        showFirstLastButtons>
</mat-paginator>
