<div [formGroup]=editorFormSignal() class="flex-column space-evenly">
    <app-editor-header
        [title]=titleSignal()
        [showRemoveButton]="showRemoveButtonSignal()"
        (removeClick)="onRemove()">
    </app-editor-header>

    <div class="flex-row start gap">
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="firstNameSignal()"
            [controlErrors]="firstNameErrorsSignal()"
            label="members.editor.firstName.label">
        </app-input-form-field>
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]=middleNameSignal()
            [controlErrors]="middleNameErrorsSignal()"
            label="members.editor.middleName.label">
        </app-input-form-field>
    </div>

    <div class="flex-row start gap">
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="lastNameSignal()"
            [controlErrors]="lastNameErrorsSignal()"
            label="members.editor.lastName.label">
        </app-input-form-field>
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="suffixSignal()"
            [controlErrors]="suffixErrorsSignal()"
            label="members.editor.suffix.label">
        </app-input-form-field>
    </div>

    <div class="flex-row start gap">
        <app-date-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="birthDateSignal()"
            [controlErrors]="birthDateErrorsSignal()"
            label="members.editor.birthDate.label">
        </app-date-form-field>
        <app-date-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="joinedDateSignal()"
            [controlErrors]="joinedDateErrorsSignal()"
            label="members.editor.joinedDate.label">
        </app-date-form-field>
    </div>
</div>
