@if (showRemoveButton() || titleDefined()) {
    <div class="flex-row" [ngClass]="{'space-between': titleDefined(), 'end': !titleDefined()}">
        @if(titleDefined()) {
            <div class="flex-row">
                <mat-label class="editor-title">{{(title() || '') | translate}}</mat-label>
            </div>
            <mat-divider></mat-divider>
        }
        @if(showRemoveButton()) {
            <button mat-icon-button (click)="onRemove()">
                <mat-icon>delete</mat-icon>
            </button>
        }
    </div>
}
