<mat-table matSort [dataSource]="dataSource()">
    @for (column of columns(); track column.columnName) {
        <ng-container [matColumnDef]=column.columnName>
            @if (column.isSortable) {
                <mat-header-cell [attr.id]=column.columnName *matHeaderCellDef mat-sort-header>
                    {{column.displayName | translate}}
                </mat-header-cell>
            } @else {
                <mat-header-cell [attr.id]=column.columnName *matHeaderCellDef>
                    {{column.displayName | translate}}
                </mat-header-cell>
            }
            <mat-cell *matCellDef="let row">
                {{column.cell(row) | translate}}
            </mat-cell>
        </ng-container>
    }

    @if(hasWriteRole()) {
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button mat-button (click)="onEditClick(row, i)">Edit</button>
        </mat-cell>
      </ng-container>
    }
    <mat-header-row *matHeaderRowDef="columnNames(); sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row;  columns: columnNames()"></mat-row>
</mat-table>
<mat-paginator
        [pageSizeOptions]="pageSizes()"
        [length]="resultsLength()"
        [pageSize]="pageSize()"
        showFirstLastButtons>
</mat-paginator>
