<div [formGroup]="editorForm()!">
    <div class="flex-column space-evenly">
        <div class="flex-row start">
            <app-input-form-field
                ngDefaultControl
                [appearance]="fieldAppearance()"
                [formControl]="countryCode()"
                [controlErrors]="countryCodeErrors()"
                label="phones.editor.countryCode.label">
            </app-input-form-field>
        </div>

        <div class="flex-row start gap">
            <app-input-form-field
                    ngDefaultControl
                    [appearance]="fieldAppearance()"
                    [formControl]="phoneNumber()"
                    [controlErrors]="phoneNumberErrors()"
                    label="phones.editor.phoneNumber.label">
            </app-input-form-field>

            <app-phone-type-form-field
                ngDefaultControl
                [appearance]="fieldAppearance()"
                [formControl]="phoneType()"
                [controlErrors]="phoneTypeErrors()"
                label="phones.editor.phoneType.label">
            </app-phone-type-form-field>
        </div>
    </div>
</div>
