<div [formGroup]="editorFormSignal()" class="flex-column space-evenly">
    <app-editor-header
        [title]="titleSignal()"
        [showRemoveButton]="showRemoveButtonSignal()"
        (removeClick)="onRemove()">
    </app-editor-header>

    <app-input-form-field
        ngDefaultControl
        [appearance]="fieldAppearanceSignal()"
        [formControl]="address1Signal()"
        [controlErrors]="address1ErrorsSignal()"
        label="addresses.editor.address1.label">
    </app-input-form-field>

    <app-input-form-field
        ngDefaultControl
        [appearance]="fieldAppearanceSignal()"
        [formControl]="address2Signal()"
        [controlErrors]="address2ErrorsSignal()"
        label="addresses.editor.address2.label">
    </app-input-form-field>

    <div class="flex-row flex-start gap">
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="citySignal()"
            [controlErrors]="cityErrorsSignal()"
            label="addresses.editor.city.label">
        </app-input-form-field>

        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="stateSignal()"
            [controlErrors]="stateErrorsSignal()"
            label="addresses.editor.state.label">
        </app-input-form-field>
    </div>
    <div class="flex-row flex-start gap">
        <app-input-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="postalCodeSignal()"
            [controlErrors]="postalCodeErrorsSignal()"
            label="addresses.editor.postalCode.label">
        </app-input-form-field>

        <app-address-type-form-field
            ngDefaultControl
            [appearance]="fieldAppearanceSignal()"
            [formControl]="addressTypeSignal()"
            [controlErrors]="addressTypeErrorsSignal()"
            label="addresses.editor.addressType.label">
        </app-address-type-form-field>
    </div>
</div>
