<h2 mat-dialog-title>
  <span>{{ title() | translate }}</span>
</h2>
@if(isDeleteAction()) {
  <mat-dialog-actions align="end">
    <button class="cancel-button"
            mat-icon-button
            type="button"
            (click)="onCancel()"
            [matTooltip]="'editDialog.tooltip.cancel' | translate">
      <mat-icon>cancel</mat-icon>
    </button>
    <button class="delete-button"
            mat-icon-button
            type="button"
            (click)="onDelete()"
            [matTooltip]="'editDialog.tooltip.delete' | translate">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
} @else {
  <form [formGroup]="editForm()!" (ngSubmit)="onSave()">
    <mat-dialog-content>
      <ng-container
        appEditorOutlet
        [component]="editorConfig().component"
        [form]="editorConfig().form">
      </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button class="cancel-button"
              mat-icon-button
              type="button"
              (click)="onCancel()"
              [matTooltip]="'editDialog.tooltip.cancel' | translate">
        <mat-icon>cancel</mat-icon>
      </button>
      <button class="submit-button"
              mat-icon-button
              type="submit"
              [disabled]="editForm()!.invalid || editForm()!.untouched"
              (click)="onSave()"
              [matTooltip]="'editDialog.tooltip.save' | translate">
        <mat-icon>save</mat-icon>
      </button>
    </mat-dialog-actions>
  </form>
}
