@use '@angular/material' as mat;

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.gap {
  gap: 15px;
}

.user-name {
  font-size: var(--mat-sys-title-small-size);
}

mat-toolbar {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-container-highest),
    container-text-color: var(--mat-sys-primary),
  ));
}

mat-slide-toggle {
  transform: scale(0.80);
  @include mat.slide-toggle-overrides((
    label-text-color: var(--mat-sys-primary)
  ))
}

app-language-switcher {
  transform: scale(0.80);
  @include mat.select-overrides((
    enabled-trigger-text-color: var(--mat-sys-primary)
  ))
}
