<header>
<mat-toolbar class="header-toolbar">
    <button mat-icon-button (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Social Club</span>
    <span class="header-spacer"></span>
    <mat-slide-toggle (change)="onThemeChanged($event)">dark</mat-slide-toggle>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item (click)="profile()">
            <mat-icon>person</mat-icon><span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon><span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
</header>
