<header>
<mat-toolbar class="content">
    <div class="flex-row start gap">
        <button mat-icon-button (click)="toggleSideNavHandler()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{'layout.header.title' | translate}}</span>
    </div>

    <div class="flex-row center gap">
        <mat-slide-toggle (change)="onThemeChanged($event)">
            {{'layout.header.darkMode' | translate }}
        </mat-slide-toggle>
        <app-language-switcher></app-language-switcher>
    </div>

    <div class="flex-row end gap">
        @if(showUserName()) {
            <span class="user-name">
                {{'layout.header.welcome' | translate}} {{userNameSignal()}}!
            </span>
        }

        <button mat-icon-button
                matTooltip="My Account"
                [matMenuTriggerFor]="userAccountMenu"
                [disabled]="!isLoggedInSignal()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
            <button mat-menu-item (click)="profileHandler()">
                <mat-icon>person</mat-icon>
                <span>{{'layout.header.profile' | translate}}</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logoutHandler()">
                <mat-icon>exit_to_app</mat-icon>
                <span>{{'layout.header.logout' | translate}}</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
</header>
