<div class="content">
  <ng-content />
  <div class="flex-row end">
    @if(allowEdit()){
      <button mat-icon-button id="editButton"
              matTooltip="base.view.edit.toolTip"
              (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    }
    @if(allowDelete()) {
      <button mat-icon-button id="deleteButton"
              matTooltip="base.view.edit.toolTip"
              (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>
</div>
