<app-view-model
  [item]="renewal()"
  [allowEdit]="allowEdit()"
  [allowDelete]="allowDelete()"
  [editTooltip]="'modelView.renewal.edit' | translate"
  [deleteTooltip]="'modelView.renewal.delete' | translate"
  (editClick)="onEdit()"
  (deleteClick)="onDelete()">

  <div class="flex-row gap">
    <app-data-display [data]="year()"/>
    <app-data-display
      [data]="date() | dateTimeToLocal | dateTimeToFormat: DateTime.DATE_SHORT: {locale: lang()}">
    </app-data-display>
  </div>
</app-view-model>
