<div class="container">
  @if(hasWriteRole()) {
    <div class="action-container">
      <button mat-icon-button [matTooltip]="'members.list.addNewMember' | translate" (click)="onAdd()">
          <mat-icon>add</mat-icon>
      </button>
    </div>
  }
  <app-sortable-pageable-table
    [dataSource]="datasource()"
    [columns]="columns()"
    [resultsLength]="resultsLength()"
    [hasWriteRole]="hasWriteRole()"
    (viewClicked)="onView($event)"
    showEditButton="true"
    showViewButton="true">
  </app-sortable-pageable-table>
</div>
