<div [formGroup]="editorFormSignal()" class="flex-column space-evenly">
        <app-editor-header
            [title]="titleSignal()"
            [showRemoveButton]="showRemoveButtonSignal()"
            (removeClick)="onRemove()">
        </app-editor-header>

        <div class="flex-row start gap">
            <app-input-form-field
                ngDefaultControl
                [appearance]="fieldAppearanceSignal()"
                [formControl]="emailSignal()"
                [controlErrors]="emailErrorsSignal()"
                label="emails.editor.email.label">
            </app-input-form-field>

            <app-email-type-form-field
                ngDefaultControl
                [appearance]="fieldAppearanceSignal()"
                [formControl]="emailTypeSignal()"
                [controlErrors]="emailTypeErrorsSignal()"
                label="emails.editor.emailType.label">
            </app-email-type-form-field>
        </div>
</div>
