<div [formGroup]="editorForm">
    <div class="flex-column space-evenly">
        @if (showRemoveButton || isTitleDefined()) {
            <div class="flex-row" [ngClass]="{'space-between': isTitleDefined(), 'end': !isTitleDefined()}">
                @if(title) {
                    <div class="flex-row">
                        <mat-label class="editor-title">{{title}}</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                }
                @if(showRemoveButton) {
                    <button mat-icon-button (click)="onRemove()">
                        <mat-icon>delete</mat-icon>
                    </button>
                }
            </div>
        }

        <div class="flex-row start gap">
            <mat-form-field [appearance]="fieldAppearance">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="email" #emailInput>
                @if (emailError()) {
                    <mat-error>{{getEmailError()}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field [appearance]="fieldAppearance">
                <mat-label>Email type</mat-label>
                <mat-select [formControl]="emailType">
                    @for (option of emailTypes; track option){
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-select>
                @if (emailTypeError()) {
                    <mat-error>Email type required</mat-error>
                }
            </mat-form-field>
        </div>
    </div>
</div>
