<mat-sidenav-container class="side-nav-container">
    <mat-sidenav mode="over" closed class="side-nav">
        <mat-nav-list>
            @for(item of navList; track item) {
                @if(hasPermission(item.permission)) {
                    <mat-list-item (click)="onMenuClicked(item.route)">
                        <mat-icon matListItemIcon>{{item.iconName}}</mat-icon>
                        <span matListItemTitle>{{item.displayName | translate}}</span>
                    </mat-list-item>
                }
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <div class="side-nav-content">
           <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
</mat-sidenav-container>
