<mat-sidenav-container class="side-nav-container">
    <mat-sidenav [class.mat-elevation-z4]=true mode="over" closed class="side-nav">
        <mat-nav-list dense>
            @if (isUser()) {
                @for(item of userNav; track item){
                    <app-menu-list-item
                            [item]="item"
                            (menuClicked)="onMenuClicked(item.route)">
                    </app-menu-list-item>
                }
            }

            @if (isManager()) {
                @for(item of mgrNav; track item){
                    <app-menu-list-item
                            [item]="item"
                            (menuClicked)="onMenuClicked(item.route)">
                    </app-menu-list-item>
                }
            }

            @if (isAdmin()) {
                @for(item of adminNav; track item){
                    <app-menu-list-item
                            [item]="item"
                            (menuClicked)="onMenuClicked(item.route)">
                    </app-menu-list-item>
                }
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <div class="side-nav-content">
           <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
</mat-sidenav-container>
