@use '@angular/material' as mat;

.container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: center;
}

.row-gap {
  gap: 10px;
}

.col-gap {
  gap: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--mat-sys-level3);
  padding: 10px;
}

@include mat.expansion-overrides((
  header-text-font: var(--mat-sys-title-small-font),
  header-text-size: var(--mat-sys-title-small-size),
  header-text-weight: var(--mat-sys-title-small-weight),
  header-text-line-height: var(--mat-sys-title-small-line-height),
  header-text-tracking: var(--mat-sys-title-small-tracking)
));

@include mat.list-overrides((
  list-item-one-line-container-height: -3
))
