<div class="container">
    @if(authSvc.rolesLoaded$ | async) {
        @if(canAddedMember()) {
            <div class="action-container">
                <button mat-mini-fab matTooltip="Add new member" (click)="addMemberHandler()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        }
    }

    <app-sortable-pageable-table
        [dataSource]="datasource"
        [columns]="columns"
        [resultsLength]="resultsLength">
    </app-sortable-pageable-table>
</div>
