<div class="list-members-container mat-elevation-z8">
    <table class="member-table"
            mat-table
           matSort
           matSortDisableClear
           [dataSource]="dataSource" >

        <ng-container matColumnDef="member_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let member">{{member.member_number}}</td>
        </ng-container>

        <ng-container matColumnDef="first_name" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>First</th>
            <td mat-cell *matCellDef="let member">{{member.first_name | concatStrings:member.middle_name}}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last</th>
            <td mat-cell *matCellDef="let member">{{member.last_name | concatStrings:member.suffix}}</td>
        </ng-container>

        <ng-container matColumnDef="birth_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>BirthDate</th>
            <td mat-cell *matCellDef="let member">{{member.birth_date}}</td>
        </ng-container>

        <ng-container matColumnDef="joined_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Joined</th>
            <td mat-cell *matCellDef="let member">{{member.joined_date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
        <tr mat-row *matRowDef="let row;  columns: columnNames"></tr>
    </table>
    <mat-paginator
            [pageSizeOptions]="pageSizes"
            [length]="resultsLength"
            (page)=onPageEvent($event)
            showFirstLastButtons
            aria-label="Select page">
    </mat-paginator>
</div>
