<div [formGroup]="editorFormSignal()">
    <div class="flex-column space-evenly">
        <app-editor-header
            [title]="titleSignal()"
            [showRemoveButton]="showRemoveButtonSignal()"
            (removeClick)="onRemove()">
        </app-editor-header>

        <div class="flex-row start">
            <app-input-form-field
                ngDefaultControl
                [appearance]="fieldAppearanceSignal()"
                [formControl]="countryCodeSignal()"
                [controlErrors]="countryCodeErrorsSignal()"
                label="phones.editor.countryCode.label">
            </app-input-form-field>
        </div>

        <div class="flex-row start gap">
            <app-input-form-field
                    ngDefaultControl
                    [appearance]="fieldAppearanceSignal()"
                    [formControl]="phoneNumberSignal()"
                    [controlErrors]="phoneNumberErrorsSignal()"
                    label="phones.editor.phoneNumber.label">
            </app-input-form-field>

            <app-phone-type-form-field
                ngDefaultControl
                [appearance]="fieldAppearanceSignal()"
                [formControl]="phoneTypeSignal()"
                [controlErrors]="phoneTypeErrorsSignal()"
                label="phones.editor.phoneType.label">
            </app-phone-type-form-field>
        </div>
    </div>
</div>
