<app-header (toggleSidenav)="sidenav.toggle()"
            (logoutClick)="logoutHandler()"
            (profileClick)="profileHandler()"
            [name]="name"
            [isAuthed]="isAuthed"
            [lastLogin]="lastLogin"></app-header>

<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8" position="end" mode="over" closed>
        <mat-nav-list dense>
            <ng-container *ngIf="isUser()">
                <app-menu-list-item *ngFor="let item of userNav" [item]="item"></app-menu-list-item>
            </ng-container>
            <ng-container *ngIf="isManager()">
                <mat-divider></mat-divider>
                <app-menu-list-item *ngFor="let item of mgrNav" [item]="item"></app-menu-list-item>
            </ng-container>
            <ng-container *ngIf="isAdmin()">
                <mat-divider></mat-divider>
                <app-menu-list-item *ngFor="let item of adminNav" [item]="item" ></app-menu-list-item>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
